rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }
    
    function isUnderSizeLimit(limitInMB) {
      return request.resource.size < limitInMB * 1024 * 1024;
    }

    match /presents/{imageId} {
      allow read: if true;
      allow write: if isAuthenticated() 
                   && isImage() 
                   && isUnderSizeLimit(5);
    }
    
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
